agents/agent1_student/agent1_flow.json
[
  {
    "id": "tab_rag_pipeline",
    "type": "tab",
    "label": "🧠 RAG Pipeline Tests",
    "disabled": false,
    "info": "Testy pełnego pipeline RAG: Categorize → Search → Enrich → Generate → Log"
  },
  {
    "id": "tab_knowledge_tests",
    "type": "tab",
    "label": "📚 Knowledge Base Tests",
    "disabled": false,
    "info": "Testy dostępności wiedzy: KB Present vs KB Absent"
  },
  {
    "id": "tab_categorization",
    "type": "tab",
    "label": "🏷️ Categorization Tests",
    "disabled": false,
    "info": "Testy automatycznej kategoryzacji zapytań"
  },
  {
    "id": "tab_logging",
    "type": "tab",
    "label": "📝 Logging Tests",
    "disabled": false,
    "info": "Testy logowania do Qdrant (query_logs + qa_logs)"
  },
  {
    "id": "tab_performance",
    "type": "tab",
    "label": "⚡ Performance Tests",
    "disabled": false,
    "info": "Testy wydajnościowe (response time, throughput)"
  },
  {
    "id": "inject_rag_full_pipeline",
    "type": "inject",
    "z": "tab_rag_pipeline",
    "name": "TC-INT-003: Full RAG Pipeline",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "testName",
        "v": "TC-INT-003",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"messages\":[{\"role\":\"user\",\"content\":\"Jak ubiegać się o stypendium rektora?\"}],\"model\":\"mistral:7b\",\"stream\":false}",
    "payloadType": "json",
    "x": 150,
    "y": 80,
    "wires": [
      [
        "timestamp_start"
      ]
    ]
  },
  {
    "id": "timestamp_start",
    "type": "function",
    "z": "tab_rag_pipeline",
    "name": "Start Timer",
    "func": "msg.startTime = Date.now();\nmsg.testName = msg.testName || 'Unknown Test';\nnode.status({fill: \"blue\", shape: \"ring\", text: \"Started: \" + msg.testName});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 80,
    "wires": [
      [
        "http_request_chat"
      ]
    ]
  },
  {
    "id": "http_request_chat",
    "type": "http request",
    "z": "tab_rag_pipeline",
    "name": "POST /api/chat",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://agent1_student:8000/api/chat",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "Content-Type",
        "keyValue": "",
        "valueType": "application/json",
        "valueValue": ""
      }
    ],
    "x": 580,
    "y": 80,
    "wires": [
      [
        "timestamp_end"
      ]
    ]
  },
  {
    "id": "timestamp_end",
    "type": "function",
    "z": "tab_rag_pipeline",
    "name": "Calculate Response Time",
    "func": "const endTime = Date.now();\nconst responseTime = endTime - msg.startTime;\n\nmsg.responseTime = responseTime;\nmsg.performanceData = {\n    startTime: msg.startTime,\n    endTime: endTime,\n    responseTime: responseTime,\n    responseTimeSeconds: (responseTime / 1000).toFixed(2)\n};\n\nconst statusColor = responseTime < 5000 ? \"green\" : responseTime < 15000 ? \"yellow\" : \"red\";\nnode.status({fill: statusColor, shape: \"dot\", text: `${responseTime}ms`});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 830,
    "y": 80,
    "wires": [
      [
        "validate_rag_response"
      ]
    ]
  },
  {
    "id": "validate_rag_response",
    "type": "function",
    "z": "tab_rag_pipeline",
    "name": "Validate RAG Response",
    "func": "const response = msg.payload;\nconst validation = {\n    testName: msg.testName,\n    timestamp: new Date().toISOString(),\n    responseTime: msg.responseTime,\n    passed: true,\n    errors: []\n};\n\n// Sprawdź strukturę odpowiedzi\nif (!response.message || !response.message.content) {\n    validation.passed = false;\n    validation.errors.push(\"Brak message.content w odpowiedzi\");\n}\n\n// Sprawdź sources (jeśli są)\nif (response.sources) {\n    if (response.sources.score !== undefined && response.sources.score < 0.25) {\n        validation.errors.push(`RAG score zbyt niski: ${response.sources.score}`);\n    }\n    \n    if (response.sources.category) {\n        validation.category = response.sources.category;\n    }\n    \n    if (response.sources.documents && response.sources.documents.length > 0) {\n        validation.hasKnowledge = true;\n        validation.documentsFound = response.sources.documents.length;\n    }\n}\n\n// Sprawdź czas odpowiedzi\nif (msg.responseTime > 15000) {\n    validation.errors.push(`Response time zbyt długi: ${msg.responseTime}ms (limit: 15000ms)`);\n    validation.passed = false;\n}\n\nmsg.validation = validation;\nmsg.payload = {\n    test: msg.testName,\n    result: validation.passed ? \"PASS\" : \"FAIL\",\n    responseTime: `${msg.responseTime}ms`,\n    category: validation.category || \"unknown\",\n    hasKnowledge: validation.hasKnowledge || false,\n    documentsFound: validation.documentsFound || 0,\n    errors: validation.errors,\n    response: response.message.content.substring(0, 200) + \"...\"\n};\n\nconst statusColor = validation.passed ? \"green\" : \"red\";\nconst statusText = validation.passed ? \"PASS\" : \"FAIL\";\nnode.status({fill: statusColor, shape: \"dot\", text: statusText});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1100,
    "y": 80,
    "wires": [
      [
        "debug_rag_result"
      ]
    ]
  },
  {
    "id": "debug_rag_result",
    "type": "debug",
    "z": "tab_rag_pipeline",
    "name": "RAG Test Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1350,
    "y": 80,
    "wires": []
  },
  {
    "id": "inject_kb_present",
    "type": "inject",
    "z": "tab_knowledge_tests",
    "name": "TC-FUNC-001: KB Present (Stypendium)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "testName",
        "v": "TC-FUNC-001",
        "vt": "str"
      },
      {
        "p": "expectedCategory",
        "v": "stypendia",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"messages\":[{\"role\":\"user\",\"content\":\"Jak ubiegać się o stypendium rektora?\"}],\"model\":\"mistral:7b\",\"stream\":false}",
    "payloadType": "json",
    "x": 170,
    "y": 80,
    "wires": [
      [
        "kb_http_request"
      ]
    ]
  },
  {
    "id": "inject_kb_absent",
    "type": "inject",
    "z": "tab_knowledge_tests",
    "name": "TC-FUNC-002: KB Absent (Filozofia)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "testName",
        "v": "TC-FUNC-002",
        "vt": "str"
      },
      {
        "p": "expectedCategory",
        "v": "unknown",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"messages\":[{\"role\":\"user\",\"content\":\"Co to jest sens życia i dlaczego istnieją czarne dziury?\"}],\"model\":\"mistral:7b\",\"stream\":false}",
    "payloadType": "json",
    "x": 180,
    "y": 160,
    "wires": [
      [
        "kb_http_request"
      ]
    ]
  },
  {
    "id": "inject_kb_egzaminy",
    "type": "inject",
    "z": "tab_knowledge_tests",
    "name": "KB Present: Egzaminy",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "testName",
        "v": "KB-Egzaminy",
        "vt": "str"
      },
      {
        "p": "expectedCategory",
        "v": "egzaminy",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"messages\":[{\"role\":\"user\",\"content\":\"Kiedy są egzaminy dyplomowe?\"}],\"model\":\"mistral:7b\",\"stream\":false}",
    "payloadType": "json",
    "x": 140,
    "y": 240,
    "wires": [
      [
        "kb_http_request"
      ]
    ]
  },
  {
    "id": "inject_kb_urlopy",
    "type": "inject",
    "z": "tab_knowledge_tests",
    "name": "KB Present: Urlopy",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "testName",
        "v": "KB-Urlopy",
        "vt": "str"
      },
      {
        "p": "expectedCategory",
        "v": "urlopy_zwolnienia",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"messages\":[{\"role\":\"user\",\"content\":\"Jak ubiegać się o urlop dziekański?\"}],\"model\":\"mistral:7b\",\"stream\":false}",
    "payloadType": "json",
    "x": 140,
    "y": 320,
    "wires": [
      [
        "kb_http_request"
      ]
    ]
  },
  {
    "id": "kb_http_request",
    "type": "http request",
    "z": "tab_knowledge_tests",
    "name": "POST /api/chat",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://agent1_student:8000/api/chat",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "Content-Type",
        "keyValue": "",
        "valueType": "application/json",
        "valueValue": ""
      }
    ],
    "x": 480,
    "y": 200,
    "wires": [
      [
        "validate_kb_response"
      ]
    ]
  },
  {
    "id": "validate_kb_response",
    "type": "function",
    "z": "tab_knowledge_tests",
    "name": "Validate KB Response",
    "func": "const response = msg.payload;\nconst testName = msg.testName;\nconst expectedCategory = msg.expectedCategory;\n\nconst validation = {\n    testName: testName,\n    expectedCategory: expectedCategory,\n    passed: true,\n    checks: []\n};\n\n// Sprawdź czy odpowiedź ma sources\nif (response.sources) {\n    const sources = response.sources;\n    \n    // Sprawdź score\n    if (sources.score !== undefined) {\n        const scoreCheck = {\n            name: \"RAG Score\",\n            expected: \">= 0.25\",\n            actual: sources.score,\n            passed: sources.score >= 0.25\n        };\n        validation.checks.push(scoreCheck);\n        if (!scoreCheck.passed && expectedCategory !== \"unknown\") {\n            validation.passed = false;\n        }\n    }\n    \n    // Sprawdź kategorię\n    if (sources.category) {\n        const categoryCheck = {\n            name: \"Category\",\n            expected: expectedCategory,\n            actual: sources.category,\n            passed: sources.category === expectedCategory\n        };\n        validation.checks.push(categoryCheck);\n        if (!categoryCheck.passed && expectedCategory !== \"unknown\") {\n            validation.passed = false;\n        }\n    }\n    \n    // Sprawdź dokumenty\n    if (sources.documents) {\n        const docsCheck = {\n            name: \"Documents Found\",\n            expected: expectedCategory === \"unknown\" ? \"0 lub < 0.25 score\" : \">= 1\",\n            actual: sources.documents.length,\n            passed: expectedCategory === \"unknown\" ? true : sources.documents.length >= 1\n        };\n        validation.checks.push(docsCheck);\n        if (!docsCheck.passed && expectedCategory !== \"unknown\") {\n            validation.passed = false;\n        }\n    }\n}\n\n// Sprawdź treść odpowiedzi\nif (response.message && response.message.content) {\n    const content = response.message.content.toLowerCase();\n    \n    if (expectedCategory === \"unknown\") {\n        // Dla KB Absent powinno być \"nie mam informacji\" lub podobne\n        const hasNoInfoMessage = content.includes(\"nie mam informacji\") || \n                                 content.includes(\"skontaktuj się z biurem\") ||\n                                 content.includes(\"bos\");\n        \n        const contentCheck = {\n            name: \"KB Absent Response\",\n            expected: \"Communicates lack of knowledge\",\n            actual: hasNoInfoMessage ? \"Correct\" : \"Missing no-info message\",\n            passed: hasNoInfoMessage\n        };\n        validation.checks.push(contentCheck);\n        if (!contentCheck.passed) {\n            validation.passed = false;\n        }\n    }\n}\n\nmsg.validation = validation;\nmsg.payload = {\n    test: testName,\n    result: validation.passed ? \"✅ PASS\" : \"❌ FAIL\",\n    expectedCategory: expectedCategory,\n    actualCategory: response.sources?.category || \"N/A\",\n    score: response.sources?.score || \"N/A\",\n    documentsFound: response.sources?.documents?.length || 0,\n    checks: validation.checks,\n    responsePreview: response.message?.content?.substring(0, 150) + \"...\"\n};\n\nconst statusColor = validation.passed ? \"green\" : \"red\";\nnode.status({fill: statusColor, shape: \"dot\", text: validation.passed ? \"PASS\" : \"FAIL\"});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 200,
    "wires": [
      [
        "debug_kb_result"
      ]
    ]
  },
  {
    "id": "debug_kb_result",
    "type": "debug",
    "z": "tab_knowledge_tests",
    "name": "KB Test Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 980,
    "y": 200,
    "wires": []
  },
  {
    "id": "inject_cat_stypendia",
    "type": "inject",
    "z": "tab_categorization",
    "name": "TC-UNIT-002: Stypendia",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "testName",
        "v": "CAT-Stypendia",
        "vt": "str"
      },
      {
        "p": "expectedCategory",
        "v": "stypendia",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"messages\":[{\"role\":\"user\",\"content\":\"Jak uzyskać stypendium?\"}],\"model\":\"mistral:7b\",\"stream\":false}",
    "payloadType": "json",
    "x": 150,
    "y": 80,
    "wires": [
      [
        "cat_http_request"
      ]
    ]
  },
  {
    "id": "inject_cat_egzaminy",
    "type": "inject",
    "z": "tab_categorization",
    "name": "Egzaminy",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "testName",
        "v": "CAT-Egzaminy",
        "vt": "str"
      },
      {
        "p": "expectedCategory",
        "v": "egzaminy",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"messages\":[{\"role\":\"user\",\"content\":\"Kiedy są egzaminy?\"}],\"model\":\"mistral:7b\",\"stream\":false}",
    "payloadType": "json",
    "x": 120,
    "y": 140,
    "wires": [
      [
        "cat_http_request"
      ]
    ]
  },
  {
    "id": "inject_cat_dane",
    "type": "inject",
    "z": "tab_categorization",
    "name": "Dane Osobowe",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "testName",
        "v": "CAT-DaneOsobowe",
        "vt": "str"
      },
      {
        "p": "expectedCategory",
        "v": "dane_osobowe",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"messages\":[{\"role\":\"user\",\"content\":\"Jak zmienić dane osobowe?\"}],\"model\":\"mistral:7b\",\"stream\":false}",
    "payloadType": "json",
    "x": 130,
    "y": 200,
    "wires": [
      [
        "cat_http_request"
      ]
    ]
  },
  {
    "id": "inject_cat_urlopy",
    "type": "inject",
    "z": "tab_categorization",
    "name": "Urlopy",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "testName",
        "v": "CAT-Urlopy",
        "vt": "str"
      },
      {
        "p": "expectedCategory",
        "v": "urlopy_zwolnienia",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"messages\":[{\"role\":\"user\",\"content\":\"Urlop dziekański procedura\"}],\"model\":\"mistral:7b\",\"stream\":false}",
    "payloadType": "json",
    "x": 110,
    "y": 260,
    "wires": [
      [
        "cat_http_request"
      ]
    ]
  },
  {
    "id": "inject_cat_unknown",
    "type": "inject",
    "z": "tab_categorization",
    "name": "Unknown (Random Query)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "testName",
        "v": "CAT-Unknown",
        "vt": "str"
      },
      {
        "p": "expectedCategory",
        "v": "unknown",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"messages\":[{\"role\":\"user\",\"content\":\"Jaka jest pogoda dzisiaj?\"}],\"model\":\"mistral:7b\",\"stream\":false}",
    "payloadType": "json",
    "x": 160,
    "y": 320,
    "wires": [
      [
        "cat_http_request"
      ]
    ]
  },
  {
    "id": "cat_http_request",
    "type": "http request",
    "z": "tab_categorization",
    "name": "POST /api/chat",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://agent1_student:8000/api/chat",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 420,
    "y": 200,
    "wires": [
      [
        "validate_category"
      ]
    ]
  },
  {
    "id": "validate_category",
    "type": "function",
    "z": "tab_categorization",
    "name": "Check Category",
    "func": "const response = msg.payload;\nconst expectedCategory = msg.expectedCategory;\nconst actualCategory = response.sources?.category || \"N/A\";\n\nconst passed = actualCategory === expectedCategory;\n\nmsg.payload = {\n    test: msg.testName,\n    result: passed ? \"✅ PASS\" : \"❌ FAIL\",\n    expected: expectedCategory,\n    actual: actualCategory,\n    match: passed\n};\n\nconst color = passed ? \"green\" : \"red\";\nnode.status({fill: color, shape: \"dot\", text: `${actualCategory} ${passed ? \"=\" : \"!=\"} ${expectedCategory}`});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 200,
    "wires": [
      [
        "debug_cat_result"
      ]
    ]
  },
  {
    "id": "debug_cat_result",
    "type": "debug",
    "z": "tab_categorization",
    "name": "Categorization Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 890,
    "y": 200,
    "wires": []
  },
  {
    "id": "inject_log_test",
    "type": "inject",
    "z": "tab_logging",
    "name": "TC-INT-004: Test Logging",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "testName",
        "v": "LOG-Test",
        "vt": "str"
      },
      {
        "p": "testId",
        "v": "",
        "vt": "date"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"messages\":[{\"role\":\"user\",\"content\":\"Test logowania - stypendium rektora\"}],\"model\":\"mistral:7b\",\"stream\":false}",
    "payloadType": "json",
    "x": 150,
    "y": 80,
    "wires": [
      [
        "log_send_query"
      ]
    ]
  },
  {
    "id": "log_send_query",
    "type": "http request",
    "z": "tab_logging",
    "name": "POST /api/chat",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://agent1_student:8000/api/chat",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 400,
    "y": 80,
    "wires": [
      [
        "log_wait_delay"
      ]
    ]
  },
  {
    "id": "log_wait_delay",
    "type": "delay",
    "z": "tab_logging",
    "name": "Wait 2s for logging",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 640,
    "y": 80,
    "wires": [
      [
        "log_check_query_logs"
      ]
    ]
  },
  {
    "id": "log_check_query_logs",
    "type": "http request",
    "z": "tab_logging",
    "name": "GET Query Logs Stats",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://agent1_student:8000/admin/logs/queries/stats",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 890,
    "y": 80,
    "wires": [
      [
        "log_check_qa_logs"
      ]
    ]
  },
  {
    "id": "log_check_qa_logs",
    "type": "http request",
    "z": "tab_logging",
    "name": "GET QA Logs Stats",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://agent1_student:8000/admin/logs/qa/stats",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1150,
    "y": 80,
    "wires": [
      [
        "log_validate"
      ]
    ]
  },
  {
    "id": "log_validate",
    "type": "function",
    "z": "tab_logging",
    "name": "Validate Logs Exist",
    "func": "const qaStats = msg.payload;\n\nconst validation = {\n    testName: \"Logging Verification\",\n    timestamp: new Date().toISOString(),\n    passed: true,\n    checks: []\n};\n\n// Sprawdź QA logs count\nif (qaStats.total_records !== undefined) {\n    const qaCheck = {\n        name: \"QA Logs Exist\",\n        expected: \"> 0\",\n        actual: qaStats.total_records,\n        passed: qaStats.total_records > 0\n    };\n    validation.checks.push(qaCheck);\n    if (!qaCheck.passed) {\n        validation.passed = false;\n    }\n}\n\nmsg.payload = {\n    test: \"TC-INT-004: Logging\",\n    result: validation.passed ? \"✅ PASS\" : \"❌ FAIL\",\n    qaLogsCount: qaStats.total_records || 0,\n    checks: validation.checks\n};\n\nconst color = validation.passed ? \"green\" : \"red\";\nnode.status({fill: color, shape: \"dot\", text: validation.passed ? \"Logs OK\" : \"No logs\"});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1400,
    "y": 80,
    "wires": [
      [
        "debug_log_result"
      ]
    ]
  },
  {
    "id": "debug_log_result",
    "type": "debug",
    "z": "tab_logging",
    "name": "Logging Test Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1660,
    "y": 80,
    "wires": []
  },
  {
    "id": "inject_perf_single",
    "type": "inject",
    "z": "tab_performance",
    "name": "TC-PERF-001: Single Request",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "testName",
        "v": "PERF-Single",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"messages\":[{\"role\":\"user\",\"content\":\"Jak ubiegać się o stypendium rektora?\"}],\"model\":\"mistral:7b\",\"stream\":false}",
    "payloadType": "json",
    "x": 170,
    "y": 80,
    "wires": [
      [
        "perf_timestamp_start"
      ]
    ]
  },
  {
    "id": "inject_perf_burst",
    "type": "inject",
    "z": "tab_performance",
    "name": "TC-PERF-002: Burst (5 requests)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "testName",
        "v": "PERF-Burst",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"messages\":[{\"role\":\"user\",\"content\":\"Test wydajnościowy - stypendium\"}],\"model\":\"mistral:7b\",\"stream\":false}",
    "payloadType": "json",
    "x": 180,
    "y": 160,
    "wires": [
      [
        "perf_split_5"
      ]
    ]
  },
  {
    "id": "perf_split_5",
    "type": "split",
    "z": "tab_performance",
    "name": "Split to 5 requests",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 440,
    "y": 160,
    "wires": [
      [
        "perf_timestamp_start"
      ]
    ]
  },
  {
    "id": "perf_timestamp_start",
    "type": "function",
    "z": "tab_performance",
    "name": "Timestamp Start",
    "func": "msg.startTime = Date.now();\nmsg.testName = msg.testName || 'PERF';\nnode.status({fill: \"blue\", shape: \"ring\", text: \"Started\"});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 120,
    "wires": [
      [
        "perf_http_request"
      ]
    ]
  },
  {
    "id": "perf_http_request",
    "type": "http request",
    "z": "tab_performance",
    "name": "POST /api/chat",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://agent1_student:8000/api/chat",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 900,
    "y": 120,
    "wires": [
      [
        "perf_timestamp_end"
      ]
    ]
  },
  {
    "id": "perf_timestamp_end",
    "type": "function",
    "z": "tab_performance",
    "name": "Calculate Time",
    "func": "const endTime = Date.now();\nconst responseTime = endTime - msg.startTime;\n\nmsg.responseTime = responseTime;\nmsg.payload = {\n    test: msg.testName,\n    responseTime: `${responseTime}ms`,\n    responseTimeSec: (responseTime / 1000).toFixed(2) + \"s\",\n    withinLimit: responseTime < 15000,\n    fast: responseTime < 5000,\n    status: responseTime < 5000 ? \"⚡ Fast\" : responseTime < 15000 ? \"👍 OK\" : \"⚠️ Slow\"\n};\n\nconst color = responseTime < 5000 ? \"green\" : responseTime < 15000 ? \"yellow\" : \"red\";\nnode.status({fill: color, shape: \"dot\", text: `${responseTime}ms`});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1130,
    "y": 120,
    "wires": [
      [
        "debug_perf_result"
      ]
    ]
  },
  {
    "id": "debug_perf_result",
    "type": "debug",
    "z": "tab_performance",
    "name": "Performance Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1370,
    "y": 120,
    "wires": []
  },
  {
    "id": "comment_rag_pipeline",
    "type": "comment",
    "z": "tab_rag_pipeline",
    "name": "RAG Pipeline Test Suite - Tests full flow from query categorization to response generation and logging",
    "info": "**Test Coverage:**\n- TC-INT-003: Full RAG Pipeline\n- Query categorization (detect_category)\n- Vector search in Qdrant (limit=2, score>0.25)\n- Context enrichment (600 chars)\n- LLM generation (mistral:7b, temp=0.3)\n- Response validation\n- Performance monitoring (< 15s)\n\n**Pass Criteria:**\n- Response received in < 15s\n- Message content exists\n- Sources metadata available\n- RAG score >= 0.25 (if KB present)",
    "x": 340,
    "y": 20,
    "wires": []
  },
  {
    "id": "comment_kb_tests",
    "type": "comment",
    "z": "tab_knowledge_tests",
    "name": "Knowledge Base Tests - Validates KB Present vs KB Absent scenarios",
    "info": "**Test Coverage:**\n- TC-FUNC-001: KB Present (Stypendium)\n- TC-FUNC-002: KB Absent (Philosophy)\n- Additional KB tests for different categories\n\n**Categories Tested:**\n- stypendia (scholarships)\n- egzaminy (exams)\n- urlopy_zwolnienia (leaves)\n- unknown (out-of-scope)\n\n**Pass Criteria:**\n- KB Present: score >= 0.25, correct category\n- KB Absent: \"Nie mam informacji\" message",
    "x": 270,
    "y": 20,
    "wires": []
  },
  {
    "id": "comment_categorization",
    "type": "comment",
    "z": "tab_categorization",
    "name": "Categorization Tests - TC-UNIT-002: Validates automatic query categorization",
    "info": "**Test Coverage:**\n- TC-UNIT-002: categorize_query() function\n- Tests 5 categories + unknown\n\n**Categories:**\n- stypendia\n- egzaminy\n- dane_osobowe\n- urlopy_zwolnienia\n- unknown\n\n**Pass Criteria:**\n- >= 80% accuracy\n- Category matches expected value",
    "x": 300,
    "y": 20,
    "wires": []
  },
  {
    "id": "comment_logging",
    "type": "comment",
    "z": "tab_logging",
    "name": "Logging Tests - TC-INT-004: Validates dual logging to Qdrant (query_logs + qa_logs)",
    "info": "**Test Coverage:**\n- TC-INT-004: Logging to Qdrant\n- Query logs collection\n- QA pairs collection\n\n**Verification:**\n1. Send test query via /api/chat\n2. Wait 2s for async logging\n3. Check /admin/logs/queries/stats\n4. Check /admin/logs/qa/stats\n\n**Pass Criteria:**\n- Both collections have records\n- Records contain correct metadata",
    "x": 270,
    "y": 20,
    "wires": []
  },
  {
    "id": "comment_performance",
    "type": "comment",
    "z": "tab_performance",
    "name": "Performance Tests - TC-PERF: Response time and throughput validation",
    "info": "**Test Coverage:**\n- TC-PERF-001: Single request response time\n- TC-PERF-002: Burst test (5 concurrent)\n\n**Metrics:**\n- Response time < 5s: ⚡ Fast\n- Response time < 15s: 👍 OK\n- Response time >= 15s: ⚠️ Slow\n\n**Pass Criteria:**\n- Single request: < 15s\n- Average burst time: < 20s\n- No timeouts or errors",
    "x": 270,
    "y": 20,
    "wires": []
  }
]