nodered/flow_test.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "tab_agent5_test",
        "type": "tab",
        "label": "Test Agent5 RODO",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e314fdef24748f4a",
        "type": "tab",
        "label": "TEST – Agenci AI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "flow_orchestrator_v2",
        "type": "tab",
        "label": "ORCHESTRATOR – z AGENT 3 (async)"
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Test Ollama",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{  \"model\": \"llama3\",  \"prompt\": \"Hello from Node-RED\",  \"stream\": false}",
        "payloadType": "json",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "http1"
            ]
        ]
    },
    {
        "id": "http1",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Ollama Generate",
        "method": "POST",
        "ret": "obj",
        "url": "http://ollama:11434/api/generate",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "headers": [
            {
                "key": "Content-Type",
                "value": "application/json"
            }
        ],
        "x": 650,
        "y": 380,
        "wires": [
            [
                "debug1"
            ]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Ollama Response",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "inject_test_text",
        "type": "inject",
        "z": "tab_agent5_test",
        "name": "Testowy tekst osobowy",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"input\":\"Jan Kowalski, PESEL 12345678901, email: jan.kowalski@example.com, adres: ul. Przykładowa 12, 00-001 Warszawa\"}",
        "payloadType": "json",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "http_request_agent5"
            ]
        ]
    },
    {
        "id": "http_request_agent5",
        "type": "http request",
        "z": "tab_agent5_test",
        "name": "Wywołaj Agenta 5",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent5_security:8000/run",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "debug_agent5"
            ]
        ]
    },
    {
        "id": "debug_agent5",
        "type": "debug",
        "z": "tab_agent5_test",
        "name": "Odpowiedź Agenta 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "18579105a2149f2e",
        "type": "inject",
        "z": "e314fdef24748f4a",
        "name": "AGENT 1 – test chatbot",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "92da47c624b39a77"
            ]
        ]
    },
    {
        "id": "92da47c624b39a77",
        "type": "function",
        "z": "e314fdef24748f4a",
        "name": "Payload AGENT 1",
        "func": "msg.payload = {\n  user_id: \"student_001\",\n  text: \"Do kiedy trwa rekrutacja na semestr letni?\"\n};\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "7a3d9dc8ae3987ab"
            ]
        ]
    },
    {
        "id": "7a3d9dc8ae3987ab",
        "type": "http request",
        "z": "e314fdef24748f4a",
        "name": "AGENT 1",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent1_student:8000/run",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 80,
        "wires": [
            [
                "a96ea80fc3fb5070"
            ]
        ]
    },
    {
        "id": "a96ea80fc3fb5070",
        "type": "debug",
        "z": "e314fdef24748f4a",
        "name": "DEBUG AGENT 1",
        "active": false,
        "complete": "payload",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "0956c3c64188e32b",
        "type": "inject",
        "z": "e314fdef24748f4a",
        "name": "AGENT 2 – test ticket",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "37fb542815036644"
            ]
        ]
    },
    {
        "id": "37fb542815036644",
        "type": "function",
        "z": "e314fdef24748f4a",
        "name": "Payload AGENT 2",
        "func": "msg.payload = {\n  ticket_id: \"TCK-1001\",\n  text: \"Nie mogę zapisać się na przedmiot – błąd USOS\"\n};\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "66e31e0ac895f4f7"
            ]
        ]
    },
    {
        "id": "66e31e0ac895f4f7",
        "type": "http request",
        "z": "e314fdef24748f4a",
        "name": "AGENT 2",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent2_ticket:8000/run",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 160,
        "wires": [
            [
                "49f44ad8974b817e"
            ]
        ]
    },
    {
        "id": "49f44ad8974b817e",
        "type": "debug",
        "z": "e314fdef24748f4a",
        "name": "DEBUG AGENT 2",
        "active": false,
        "complete": "payload",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "09b7677a969615b5",
        "type": "inject",
        "z": "e314fdef24748f4a",
        "name": "AGENT 3 – test analizy",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "b6f2d77d9df51dbf"
            ]
        ]
    },
    {
        "id": "b6f2d77d9df51dbf",
        "type": "function",
        "z": "e314fdef24748f4a",
        "name": "Payload AGENT 3",
        "func": "msg.payload = {\n  data: [\n    {\"category\": \"IT\", \"count\": 42},\n    {\"category\": \"Stypendia\", \"count\": 18}\n  ]\n};\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 240,
        "wires": [
            [
                "fe160b5000165af4"
            ]
        ]
    },
    {
        "id": "fe160b5000165af4",
        "type": "http request",
        "z": "e314fdef24748f4a",
        "name": "AGENT 3",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent3_analytics:8000/run",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "a9c8f150cdf592ac"
            ]
        ]
    },
    {
        "id": "a9c8f150cdf592ac",
        "type": "debug",
        "z": "e314fdef24748f4a",
        "name": "DEBUG AGENT 3",
        "active": false,
        "complete": "payload",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "9e279718f8eb039c",
        "type": "inject",
        "z": "e314fdef24748f4a",
        "name": "AGENT 4 – test BOS",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "0355d063fe18f87d"
            ]
        ]
    },
    {
        "id": "0355d063fe18f87d",
        "type": "function",
        "z": "e314fdef24748f4a",
        "name": "Payload AGENT 4",
        "func": "msg.payload = {\n  context: \"Student pyta o urlop dziekański\",\n  task: \"Przygotuj szkic odpowiedzi\"\n};\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 320,
        "wires": [
            [
                "fa8c15872c1ac4b8"
            ]
        ]
    },
    {
        "id": "fa8c15872c1ac4b8",
        "type": "http request",
        "z": "e314fdef24748f4a",
        "name": "AGENT 4",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent4_bos:8000/run",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 320,
        "wires": [
            [
                "9a4621dab79763f8"
            ]
        ]
    },
    {
        "id": "9a4621dab79763f8",
        "type": "debug",
        "z": "e314fdef24748f4a",
        "name": "DEBUG AGENT 4",
        "active": false,
        "complete": "payload",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "0cc05654b6b0b989",
        "type": "inject",
        "z": "e314fdef24748f4a",
        "name": "AGENT 5 – test RODO",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "eb822a2a81d4bd1b"
            ]
        ]
    },
    {
        "id": "eb822a2a81d4bd1b",
        "type": "function",
        "z": "e314fdef24748f4a",
        "name": "Payload AGENT 5",
        "func": "msg.payload = {\n  text: \"Jan Kowalski, PESEL 90010112345, prośba o zaświadczenie\"\n};\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "f5d6a1d7b1ada3a8"
            ]
        ]
    },
    {
        "id": "f5d6a1d7b1ada3a8",
        "type": "http request",
        "z": "e314fdef24748f4a",
        "name": "AGENT 5",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent5_security:8000/run",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 400,
        "wires": [
            [
                "fde80215dca264e0"
            ]
        ]
    },
    {
        "id": "fde80215dca264e0",
        "type": "debug",
        "z": "e314fdef24748f4a",
        "name": "DEBUG AGENT 5",
        "active": false,
        "complete": "payload",
        "x": 760,
        "y": 400,
        "wires": []
    },
    {
        "id": "inject_start",
        "type": "inject",
        "z": "flow_orchestrator_v2",
        "name": "START – zapytanie studenta",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "fn_input"
            ]
        ]
    },
    {
        "id": "fn_input",
        "type": "function",
        "z": "flow_orchestrator_v2",
        "name": "Prepare input",
        "func": "msg.payload = {\n  input: \"Nie mogę zapisać się na przedmiot – system pokazuje błąd\",\n  user_role: \"student\",\n  trace_id: Date.now().toString(),\n  timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "http_agent5_pre"
            ]
        ]
    },
    {
        "id": "http_agent5_pre",
        "type": "http request",
        "z": "flow_orchestrator_v2",
        "name": "AGENT 5 – security PRE",
        "method": "POST",
        "ret": "obj",
        "url": "http://agent5_security:8000/run",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "http_agent2"
            ]
        ]
    },
    {
        "id": "http_agent2",
        "type": "http request",
        "z": "flow_orchestrator_v2",
        "name": "AGENT 2 – klasyfikacja",
        "method": "POST",
        "ret": "obj",
        "url": "http://agent2_ticket:8000/run",
        "x": 590,
        "y": 120,
        "wires": [
            [
                "switch_route"
            ]
        ]
    },
    {
        "id": "switch_route",
        "type": "switch",
        "z": "flow_orchestrator_v2",
        "name": "Routing",
        "property": "payload.category",
        "rules": [
            {
                "t": "eq",
                "v": "FAQ"
            },
            {
                "t": "neq",
                "v": "FAQ"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 600,
        "y": 240,
        "wires": [
            [
                "http_agent1"
            ]
        ]
    },
    {
        "id": "http_agent1",
        "type": "http request",
        "z": "flow_orchestrator_v2",
        "name": "AGENT 1 – chatbot",
        "method": "POST",
        "ret": "obj",
        "url": "http://agent1_student:8000/run",
        "x": 490,
        "y": 720,
        "wires": [
            [
                "http_agent5_post"
            ]
        ]
    },
    {
        "id": "http_agent4",
        "type": "http request",
        "z": "flow_orchestrator_v2",
        "name": "AGENT 4 – BOS",
        "method": "POST",
        "ret": "obj",
        "url": "http://agent4_bos:8000/run",
        "x": 930,
        "y": 200,
        "wires": [
            [
                "http_agent5_post"
            ]
        ]
    },
    {
        "id": "http_agent5_post",
        "type": "http request",
        "z": "flow_orchestrator_v2",
        "name": "AGENT 5 – security POST",
        "method": "POST",
        "ret": "obj",
        "url": "http://agent5_security:8000/run",
        "x": 860,
        "y": 320,
        "wires": [
            [
                "fanout_agent3",
                "debug_output"
            ]
        ]
    },
    {
        "id": "fanout_agent3",
        "type": "function",
        "z": "flow_orchestrator_v2",
        "name": "Emit event → AGENT 3",
        "func": "return {\n  payload: {\n    trace_id: msg.payload.trace_id,\n    category: msg.payload.category || \"unknown\",\n    timestamp: new Date().toISOString(),\n    source: \"orchestrator\"\n  }\n};",
        "outputs": 1,
        "x": 1130,
        "y": 440,
        "wires": [
            [
                "http_agent3"
            ]
        ]
    },
    {
        "id": "http_agent3",
        "type": "http request",
        "z": "flow_orchestrator_v2",
        "name": "AGENT 3 – analiza (ASYNC)",
        "method": "POST",
        "ret": "obj",
        "url": "http://agent3_analytics:8000/run",
        "x": 1240,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "debug_output",
        "type": "debug",
        "z": "flow_orchestrator_v2",
        "name": "FINAL OUTPUT (user)",
        "active": true,
        "complete": "payload",
        "x": 1260,
        "y": 260,
        "wires": []
    }
]
